<section>
    <div>
        <h1>Country Quiz</h1>
        <div class="card" id="card-question">
            <img class="card-img" src="../../../assets/undraw_adventure_4hum 1.svg" alt="">
            <h3 class="question" *ngIf="response">{{response.question}}</h3>
            <img *ngIf="typeSelectQuestion == 1" class="card-flag" src="https://restcountries.eu/data/afg.svg" alt="">
            <div class="answer answer-neutral" #answers (click)="checkAnswer(answerListRandon[arrayRandon[0]], 1)">
                <div class="answer-identity">
                    <p>A</p>
                </div>
                <div class="answer-answer">
                    <p>{{answerListRandon[arrayRandon[0]]}}</p>
                </div>
                <input type="hidden">
            </div>
            <div class="answer answer-neutral" #answers (click)="checkAnswer(answerListRandon[arrayRandon[1]], 2)">
                <div class="answer-identity">
                    <p>B</p>
                </div>
                <div class="answer-answer">
                    <p>{{answerListRandon[arrayRandon[1]]}}</p>
                </div>
                <input type="hidden">
            </div>
            <div class="answer answer-neutral" #answers (click)="checkAnswer(answerListRandon[arrayRandon[2]], 3)">
                <div class="answer-identity">
                    <p>C</p>
                </div>
                <div class="answer-answer">
                    <p>{{answerListRandon[arrayRandon[2]]}}</p>
                </div>
                <input type="hidden">
            </div>
            <div class="answer answer-neutral"#answers (click)="checkAnswer(answerListRandon[arrayRandon[3]], 4)">
                <div class="answer-identity">
                    <p>D</p>
                </div>
                <div class="answer-answer">
                    <p>{{answerListRandon[arrayRandon[3]]}}</p>
                </div>
                <input type="hidden">
            </div>
            <div class="flex justify-content-end d-none" #next *ngIf="selectAnswer" (click)="nextAnswer()">
                <button class="btn btn-warning">Next</button>
            </div>   
        </div>
    </div>  
</section>
